@model RentThings.Models.Product[]

@{
    ViewBag.Title = "BrowseItems";
}

<h2>BrowseItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
 

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.PhotoUrl" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink()
        </td>
    </tr>
}

</table>
